<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swissup_compare>
            <general>
                <enabled>1</enabled>
            </general>
            <design>
                <use_alternative_design>1</use_alternative_design>
                <sticky_header>0</sticky_header>
                <show_attributes_labels>1</show_attributes_labels>
            </design>
        </swissup_compare>
    </default>
</config>