<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_compare" translate="label" type="text" sortOrder="367" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Compare</label>
            <tab>swissup</tab>
            <resource>Swissup_Compare::config_compare</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>General</label>

                <field id="enable_compare_design" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable "alternative" compare page design</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="disable_magento_compare" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide default Magento "Compare" functionality</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
